$primary-color: #444;
$secondary-color: #eece1a;
$opacity: 0.9;
$home-image: url("../img/background.jpg");

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@function set-text-color($color) {
  @if (lightness($color) < 40) {
    @return #fff;
  } @else {
    @return #000;
  }
}

// Media Queries

// Small devices
@mixin sm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media screen and (min-width: 600px) and (max-width: 850px) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media screen and (min-width: 851px) and (max-width: 1200px) {
    @content;
  }
}

// Extra large devices
@mixin xlg {
  @media screen and (min-width: 1201px) {
    @content;
  }
}
